[access]
	inheritFrom = All-Projects
[project]
	description = READ ONLY - Creates a service for Message Router in a container. Repository has been moved.
	state = read only
[access "refs/*"]
	owner = group saml/onap-gerrit-dmaap-messagerouter-messageservice-committers
	read = group GitHub Replication
[plugin "its-jira"]
	enabled = true
