[access]
	inheritFrom = All-Projects
[project]
	description = Creates a service for Message Router in a container.\n\nRead-only as per IT-26907
	state = read only
[access "refs/*"]
	owner = group saml/onap-gerrit-dmaap-messagerouter-messageservice-committers
	read = group GitHub Replication
[plugin "its-jira"]
	enabled = true
